body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2);
}

.task {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.card {
  width: 320px;
  padding: 40px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);

  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: white;
}

.input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;

  border: none;
  border-radius: 12px;

  outline: none;

  background: rgba(255,255,255,0.15);
  color: white;
  font-size: 14px;
}

.input::placeholder {
  color: rgba(255,255,255,0.7);
}

.input:focus {
  background: rgba(255,255,255,0.25);
}

.button {
  width: 100%;
  padding: 14px;
  margin-top: 25px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: white;
  font-weight: 600;
  font-size: 15px;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}